/* General Section  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
body {
   height: 100vh;
   width: 100%;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.float-right {
    float: right;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.width-70 {
    width: 70%;
    margin: 0 auto;
}

.pdt-2 {
    padding-top: 2em;
}

.pdt-3 {
    padding-top: 3em;
}
.pdt-4 {
    padding-top: 4em;
}
.pdt-6 {
    padding-top: 6em;
}
.pdt-9 {
    padding-top: 9em;
}
.mg-bottom {
    margin-bottom: 2em;
}

/* header */
header {
    height: 90vh;
    width: 100%;
    background-color: #ADD1EA;
}

.logo {
   max-width: 100%;
   vertical-align: middle;
   display: inline-block;
   margin: 0 1em 0 1.8em;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 3.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ADD1EA;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar .nav-list {
    list-style: none;
    display: inline-block;
}

.navbar .nav-list li{
    display: inline-block;
    padding-top: 1em;
}

.nav-list li a {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    padding: 1.2em;
}

.nav-list li a:hover {
    border-bottom: 2px solid #ADD1EA;
    background-color: rgb(245, 240, 240);
}

a.btn {
    margin-right: 1.2em;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    padding: 0.5em 1.2em;
    background-color: #0063FF;
    transition: 0.7s;
}

a.btn:hover {
    background-color: #0092fa;
}

/* jumbotron  */

.jumbo-title {
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.jumbo-desc-container {
    width: 100%;
    margin: 1em 0 2em 0;
}

.container-text {
    width: 35%;
    font-size: 1em;
}

.jumbo-par, .jumbo-par-2  {
    margin-bottom: 2em;
}
.jumbo-par-2 {
    font-size: 12px;
    margin-top: 1.4em;
}

.container-text a.btn {
    font-size: 1em;
}

.jumbotron a > i {
    font-size: 2em;
    color: black;
}

.jumbo-img {
    width: calc(65% - 50px);
}
.jumbo-img img {
    width: 100%;
}

/* main  */

/* section planes  */

.main-title {
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 1em;
}
.planes .check {
    margin-bottom: 2em;
}
.planes .check div {
    display: inline-block;
    border: 8px solid lightgrey;
    border-radius: 40%;
    background-color: white;
    margin-right: 5px;
}

.planes #check-1 {
    border: 8px solid #0092fa;
}

.planes .check a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.content-col {
    width: 80%;
    margin: 2em auto 5em;
}

.main-col, .main-col-middle {
    width: calc(100% / 3 - 40px);
    border: 1px solid lightgrey;
    height: 780px;
}

.main-col-middle {
    margin: 0 60px 0 60px;
}

.col-title {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid lightgrey;
}

/* contenuto colonne  */

.content-title {
    margin-bottom: 15px;
}

.prices {
    font-weight: bold;
    margin-bottom: 10px;
}

.prices-info {
    font-size: 12px;
    color: grey;
    margin-bottom: 3em;
}

.par-list li{
    list-style-type: none;
    font-size: 12px;
    margin-bottom: 1.5em;
    color: black;
}

.button-col {
    margin: 2em 0 0;
}
.button-col > a {
    color: white;
    margin: 0 auto ;
    padding: 0.5em 4.5em;
}
.buy {
    margin: 1.5em 0 1.5em 0;
}
.content-col span {
    display: inline-block;
    padding: 2em 0 2em 0;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
}

.buy-a {
    font-size: 12px;
    color: #2590FF;
}

.resume-plane {
    font-size: 14px;
    font-weight: bold;
    padding: 2em 0 1.5em 0;
}

.resume-list {
    list-style-type: none;
}

.resume-list li {
    font-size: 12px;
    color: black;
    margin-bottom: 15px;
}

.resume-list i {
    color: #2590FF;
}

/* banner  */

.banner .col-title {
    border: 1px solid lightgrey;
}

.banner-content {
   border: 1px solid lightgrey;
}

.col-left {
    width: 70%;
}

.col-right {
    width: 30%;
}

.col-left .info {
    margin:1.3em 0 20px 20px;
}

.col-left p {
    font-size: 13px;
    margin-top: 15px;
}

.button-office {
   margin: 20px 10px 0 0;
}
.col-right a {
    padding-right: 6em;
    padding-left: 6em;
}


