/* General Section  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
body {
   height: 100vh;
   width: 100%;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.float-right {
    float: right;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.width-70 {
    width: 70%;
    margin: 0 auto;
}

.pdt-2 {
    padding-top: 2em;
}

.pdt-3 {
    padding-top: 3em;
}
.pdt-4 {
    padding-top: 4em;
}
.pdt-6 {
    padding-top: 6em;
}
.pdt-9 {
    padding-top: 9em;
}

.mg-bottom {
    margin-bottom: 2em;
}
.center {
    text-align: center;
}

.main-title {
    font-size: 2.3em;
    font-weight: bold;
    margin-bottom: 1em;
}
/* header */
header {
    height: 80vh;
    width: 100%;
    background-color: #ADD1EA;
}

.logo {
   max-width: 100%;
   vertical-align: middle;
   display: inline-block;
   margin: 0 1em 0 1.8em;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 3.5em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ADD1EA;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar ul {
    list-style-type: none;
    display: inline-block;
}

.navbar li{
    display: inline-block;
    padding-top: 1em;
}

.navbar li a {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    padding: 1.2em;
}

.navbar li a:hover {
    border-bottom: 2px solid #ADD1EA;
    background-color: rgb(245, 240, 240);
}

a.btn {
    margin-right: 1.2em;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    padding: 0.5em 1.2em;
    background-color: #0063FF;
    transition: 0.7s;
}

a.btn:hover {
    background-color: #0092fa;
}

/* jumbotron  */

.jumbotron h1 {
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.jumbotron .container {
    width: 100%;
    height: 100vh;
    margin: 1em 0 2em 0;
}

.container-text {
    width: 35%;
    font-size: 1em;
}

.container-text p {
    margin-bottom: 2em;
}
.container-text p:last-of-type {
    font-size: 12px;
    margin-top: 1.4em;
}

.container-text a.btn {
    font-size: 1em;
}

.jumbotron a > i {
    font-size: 2em;
    color: black;
}

.jumbo-img {
    width: calc(65% - 50px);
}
.jumbo-img img {
    width: 100%;
}

/* main  */

/* section planes  */

.planes .check {
    margin-bottom: 2em;
}
.planes .check div {
    display: inline-block;
    border: 8px solid lightgrey;
    border-radius: 40%;
    background-color: white;
    margin-right: 5px;
    cursor: pointer;
}

.planes #check-1 {
    border: 8px solid #0092fa;
}

.planes .check a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
/* sezione colonne */
.content-col {
    margin: 2em auto 5em;
}

.main-col, .main-col-middle {
    width: calc(100% / 3 - 40px);
    border: 1px solid lightgrey;
    height: 780px;
}

.main-col-middle {
    margin: 0 60px 0 60px;
}

.main-col h3,
.main-col-middle h3 {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid lightgrey;
}

/* contenuto colonne  */

.content-col h2 {
    margin-bottom: 15px;
}

.content-col h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.content-col p {
    font-size: 12px;
    color: grey;
    margin-bottom: 3em;
}
.content-col ul {
    list-style-type: none;
}

.content-col ul li{
    font-size: 12px;
    margin-bottom: 1.5em;
    color: black;
}
.icon,
.description {
   display: inline-block;
   margin-bottom: 1.5em;
}

.icon {
    width: 5%;
}
.description {
    width: 95%;
    padding-left: 4px;
}

.button-col {
    padding-top: 5em;
}

.button-col > a {
    color: white;
    margin: 0 auto;
    padding: 0.5em 4.5em;
}

.content-col span {
    display: inline-block;
    padding: 2em 0 2em 0;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
}

.buy-link {
    font-size: 12px;
    color: #2590FF;
}

.content-col h4:nth-of-type(2)  {
    font-size: 14px;
    font-weight: bold;
    padding-top: 2em;
}

.content-col ul:last-of-type li {
    font-size: 12px;
    color: black;
    margin-bottom: 15px;
}

.content-col ul:last-of-type li > i,
#check-blue {
    color: #2590FF;
}

/* banner  */

.banner h3 {
    font-size: 1em;
    text-align: center;
    padding: 0.5em;
    border: 1px solid lightgrey;
}
.banner-content h2 {
    margin-bottom: 15px;
}

.banner-content h4 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 1.5em;
}
.banner-content {
   border: 1px solid lightgrey;
   margin-bottom: 5em;
}

.col-left {
    width: 70%;
}

.col-right {
    width: 30%;
}

.col-left .info {
    margin: 1.3em 0 20px 20px;
}

.col-left p {
    font-size: 13px;
}

.button-office {
   margin: 20px 10px 0 0;
}
.banner-content .col-right a {
    padding-right: 6em;
    padding-left: 6em;
}

/* sezione partner  */

.partner .col-left {
    width: 50%;
    padding: 2em 0 1.5em 0;
}

.partner .col-left img {
    width: 90%;
}

.partner .col-right {
    width: 50%;
    padding: 4em 7em 0 0;
}
.partner .col-right h2 {
    margin-bottom: 15px;
}

.partner .col-right p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 1.5em;
}

.partner .col-right a {
   background-color: white;
   color: grey;
   border: 1px solid grey;
   transition: 0.5s;
}

.partner .col-right a:hover {
    background-color: rgb(165, 165, 165);
    color: white;
} 

/* other info  */

.other-info .main-col, 
.other-info .main-col-middle {
    border: none;
    height: 100%;
    margin-bottom: 5em;
}
.other-info h2 {
    margin-bottom: 15px;
}

.other-info p {
    font-size: 15px;
}

.other-info .main-col img {
    width: 100%;
}

.other-info .main-col-middle img {
    width: 100%;
}

.other-info .main-col span {
    text-decoration: underline;
}

/* clients section  */

.clients a {
    color: #2590FF;
    display: inline-block;
    margin-bottom: 2.5em;
}
.clients a:hover {
    color: crimson;
}

/* university section  */
.university-clients {
    width: 100%;
    height: 100%;
}
.university-clients .col {
    width: 30%;
}

.university-clients .col-middle {
    width: 40%;
    height: 430px;
    background-color: #F5F5F5;
    overflow: auto;
}

.container-col-img {
    width: 100%;
    height: 100%;
}

.square-1, 
.square-2,
.square-3,
.square-4,
.square-5, 
.square-6,
.square-7,
.square-8 {
    width: 215px;
    height: 215px;
    margin: 0 auto;
} 

.square-1 {
    background-color: #94D595;
}
.square-2 {
    background-color: #6B002B;
}
.square-3 {
    background-color: #0096D3;
}
.square-4 {
    background-color: #FF0000;
}
.square-5 {
    background-color: #E90007;
}
.square-6 {
    background-color: #ADD1EA;
}
.square-7 {
    background-color: #032586;
}
.square-8 {
    background-color: #FFD600;
}
.square-1 img, 
.square-2 img,
.square-3 img,
.square-4 img, 
.square-5 img, 
.square-6 img,
.square-7 img,
.square-8 img {
    width: 50%;
    padding-top: 5em;
    filter: invert(100%);
}
.square-2 img {
    padding-top: 4em;
} 
.square-3 img,
.square-6 img {
    padding-top: 6em;
}
.square-1 {
    border: 8px solid #CAEACA;
}

.container-middle {
    margin: 2.5em auto 2em;
    padding-left: 1em;
    width: 90%;
}

.container-img {
    width: 25%;
    padding-bottom: 2em;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 3em;
} 

.container-img img {
    width: 100%;
}

.container-middle p {
    font-size: 14px;
    margin-bottom: 3em;
}

.container-middle .author {
    margin-bottom: 10em;
}

/* free  */

.free {
    width: 100%;
    height: 100%;
    background-color: #ADD1EA;
}

.container-free {
    padding: 6em 0 12em 0;
}

.container-free h1 {
    color: #6B002B;
}

.container-free a {
    padding: 0.5em 6em 0.5em 6em;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.container-free a:hover {
    background-color: #6B002B;
    color: white;
}

/* section faq  */

.container-faq {
    margin: 6em auto 5em;
}

.container-faq h1 {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1.5em;
}
.faq ul {
    list-style-type: none;
}

.faq ul li {
    padding: 2em 0 2em 0;
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
}

.faq ul li:first-child {
    padding-top: 0em;
}

.faq ul span {
    display: inline-block;
    padding-left: 18em;
}

/* footer  */
footer {
    width: 100%;
    background-color: black;
}
.container-foot {
    padding: 6em 0 5em 0;
}
.col-foot {
    width: 20%;
    height: 100%;
}

.col-foot h3 {
    color: white;
    margin-bottom: 1em;
}

.col-foot ul {
    list-style-type: none;
}

.col-foot ul  li {
    margin-bottom: 0.5em;
}

.col-foot ul li a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.col-foot ul li a:hover {
    text-decoration: underline;
}

.language-content {
    color: grey;
    padding: 3.5em 0 2em 0;
    display: inline-block;
    border-top: 2px solid grey;
}
.language-content span:last-of-type {
    vertical-align: middle;
}

