/* General Section  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
body {
   height: 100vh;
   width: 100%;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.float-right {
    float: right;
}

.width-80 {
    width: 80%;
    margin: 0 auto;
}

.pdt-3 {
    padding-top: 3em;
}
.pdt-4 {
    padding-top: 4em;
}
.pdt-6 {
    padding-top: 6em;
}


/* header */
header {
    width: 100%;
    /* height: 500px; */
    background-color: #ADD1EA;
    position: relative;
}

.logo {
   max-width: 100%;
   vertical-align: middle;
   display: inline-block;
   margin: 0 1em 0 1.8em;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 3.5em;
    margin-bottom: 1em;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar .nav-list {
    list-style: none;
    display: inline-block;
}

.navbar .nav-list li{
    display: inline-block;
    padding-top: 1em;
}

.nav-list li a {
    text-decoration: none;
    font-size: 0.8em;
    color: black;
    padding: 1.2em;
}

.nav-list li a:hover {
    border-bottom: 2px solid #ADD1EA;
    background-color: rgb(245, 240, 240);
}

a.btn {
    margin-right: 1.2em;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    padding: 0.5em 1.2em;
    background-color: #0063FF;
    transition: 0.7s;
}

a.btn:hover {
    background-color: #0092fa;
}

/* jumbotron  */

.jumbo-title {
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.jumbo-img img {
    max-width: 100%;
    width: 45%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%, -40%);
}

.jumbo-text {
    width: 35%;
    text-align: left;
    font-size: 1em;
}

.jumbo-par, .jumbo-par-2  {
    margin: 1em 0 2em 0;
}
.jumbo-par-2 {
    font-size: 12px;
}

.jumbotron a.btn {
    font-size: 1em;
    margin-bottom: 15px;
}

.jumbotron i {
    font-size: 2em;
    margin-bottom: 2em;
}

